* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.navbar-arkaplan {
  background-color: #144272;
  color: white;
}

.navbar-arkaplan .navbar-nav .nav-link,
.navbar-brand {
  color: white;
}

.arkaplan1 {
  background-color: #d6e4e5;
  border-radius: 20px;
}

.arkaplan2 {
  background-color: #ffe1e1;
  border-radius: 20px;
}
.arkaplan3 {
  background-color: #eef1ff;
  border-radius: 20px;
}
.arkaplan4 {
  background-color: #8fe3cf;
  border-radius: 20px;
}

.footer-kapsayici {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.ikonlar {
  display: inline-block;
  background-color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.iconlar-classi {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

@media only screen and (max-width: 768px) {
  .iconlar-classi {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .footer-kapsayici {
    gap: 70px;
  }

  .kapsayici{
    display: flex;
    flex-direction: column;
   margin: auto;
  }
  .fotokapsa, .foto{
    margin: auto;
  }
  .favekle{
    margin-bottom: 30px;
  }

  .kitap-turu{
    display: flex;
    flex-direction: column;
  }
  .kitap-turu h6{
    margin-bottom: 35px;
  }
  

}

.giris-kayit-buton a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  transition: 0.2s;
}

.giris-kayit-buton a:hover {
  color: crimson;
}

.giris-kayit-buton .kayit-ol {
  margin-left: 25px;
}

.favekle i{
  color: #144272;
  transition: 0.5s;
  font-size: 45px;
}

.favekle i:hover{
  color: crimson;
}
.kitap-turu p{
  margin-left: 5px;
}
.kitap-turu h6{
  font-size: 20px;
  font-weight: normal;
}

.ortala{
  margin-top: 40px;
  margin-bottom: 40px;
  
}
.hizala1{
  display: grid;
  grid-template-columns: 4fr 12fr 1fr;
}

.kitaplar-kapsayici{
  display: flex;
  justify-content: space-between;

}

.hover-icin-kullan{
  color: #144272;
  transition: 0.3s;
}

.hover-icin-kullan:hover{
  color: crimson;

}


